<header class="header mob-header cart-true fixed-true nz-clearfix">
    <div class="mob-header-top nz-clearfix">
        <div class="container">
            <div class="logo logo-mob">
                <a href="#" title="PrimeTrans Premium HTML Theme">
                    <img id="img_97a1_0" src="upload/logo_mobile%402.png" alt="PrimeTrans Premium HTML Theme">
                </a>
            </div>
            <span class="mob-menu-toggle"></span>
        </div>
    </div>
    <div class="mob-header-content nz-clearfix">
        <div class="container">
            <nav class="mob-menu nz-clearfix">
                <ul id="mob-header-menu" class="menu">
                    <li class="menu-item current-menu-item current_page_item menu-item-home menu-item-has-children"><a href="/"><span class="mi"></span><span class="txt">Home</span><span class="di icon-arrow-down9"></span></a>
                    </li>
                    <li class="menu-item"><a href="/about"><span class="mi"></span><span class="txt">About Us</span><span class="di icon-arrow-down9"></span></a></li>
                    <li class="menu-item"><a href="/contact"><span class="mi"></span><span class="txt">Contact Us</span><span class="di icon-arrow-down9"></span></a></li>
                </ul>
            </nav>

        </div>
    </div>
</header>

<header class="header desk desk-ls-true fixed-true cart-true search-true">
    <div class="header-content">
        <div class="container nz-clearfix">

            <div class="logo logo-desk">
                <a href="#primetrans" title="PrimeTrans Premium HTML Theme">
                    <img id="img_97a1_1" src="upload/logo%402.png" alt="PrimeTrans Premium HTML Theme">
                </a>
            </div>

            <nav class="header-menu desk-menu nz-clearfix">
                
                <ul id="header-menu" class="menu">
                    <li class="menu-item current-menu-item current_page_item menu-item-home menu-item-has-children" data-mm="false" data-mmc="2"><a href="/"><span class="mi"></span><span class="txt">Home</span><span class="di icon-arrow-down9"></span></a>
                    </li>
                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="/about"><span class="mi"></span><span class="txt">About Us</span><span class="di icon-arrow-down9"></span></a></li>
                    <li class="menu-item" data-mm="false" data-mmc="2"><a href="/contact"><span class="mi"></span><span class="txt">Contact Us</span><span class="di icon-arrow-down9"></span></a></li>
                    <li class="menu-item" data-mm="false" data-mmc="2"></li>
                </ul>
                <li class="menu-item " data-mm="false" data-mmc="2"><a href="/"><span class=""></span><span class="txt"><div class="check wtt">
                    <input class="" type="text" name="s"  placeholder="INPUT TRACKING ID"  />
                    <input type="submit"  value="Track" />
                </div></span><span></span></a>
                </li>
                
            </nav>

        </div>
    </div>
</header>